header img {
    height: 300px;
    border-radius: 20px;
    padding: 50px;
}
header{
    text-align: center;
    background-color:lightyellow;
    color:darkkhaki;
}
nav{
    margin-top: 10px;
}
nav a{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 15px;
    text-decoration: none;
    transition: 1s;
    color:rgb(46, 145, 95);
    font-size: 15px;
}
nav a :hover{
    color:rgb(73, 230, 33);
    background-color:#31975f;
    border-radius:30px 0px 30px 0px;
    box-shadow: 10px 10px 5px -2px rgba(246, 255, 244, 0.815);
    padding: 7px 20px;
    transition: 0.5s;
    
}